<%- include('../layout/header') %>
<div class="container py-5">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion mt-3" id="faqAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1">What is StudySphere?</button>
      </h2>
      <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body">StudySphere is a compact knowledge base made for quick learning and project help.</div>
      </div>
    </div>
  </div>
</div>
<%- include('../layout/footer') %>
